.home {
  background: url(../assets/homebg3.webp) no-repeat center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}

.home-item {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-15%, -50%);
}

.desc-color {
  color: #e0e1e1;
}

.btn-color {
  background-color: #e67e22 !important;
}

@media (min-width: 768px) {
  .home-item {
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    color: red;
  }
}
